Package: com.sam990.scanify
Name: Scanify
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds Scan button in WiFi Settings and removes RSSI Threshold during scan (allows weak networks to show).
Maintainer: Sameer
Author: Sameer
Section: Tweaks
